@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --text: #0a0d10;
    --background: #f6f8fa;
    --primary: #5982aa;
    --secondary: #9bb5d0;
    --accent: #7ca1c5;
  }
  .dark {
    --text: #eff2f5;
    --background: #05080a;
    --primary: #557da5;
    --secondary: #2f4965;
    --accent: #3a5e83;
  }
} */

@layer base {
  :root {
    --text: #03080c;
    --background: #f5f8fa;
    --primary: #5083b9;
    --secondary: #88b4e2;
    --accent: #fda53a;
  }
  .dark {
    --text: #f3f8fc;
    --background: #05080a;
    --primary: #4679af;
    --secondary: #1d4877;
    --accent: #fda53a;
  }
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  font-weight: 400;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-poppins);
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

@media not all and (min-width: 1280px) {
  html {
    font-size: 100%;
  } /* 16px */

  h1 {
    font-size: 3.053rem; /* 48.8px */
  }

  h2 {
    font-size: 2.442rem; /* 39.04px */
  }

  h3 {
    font-size: 1.954rem; /* 31.2px */
  }

  h4 {
    font-size: 1.563rem; /* 24.96px */
  }

  h5 {
    font-size: 1.25rem; /* 20px */
  }

  small {
    font-size: 0.8rem; /* 12.8px */
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  } /* 16px */

  h1 {
    font-size: 1.802rem; /* 28.8px */
  }

  h2 {
    font-size: 1.602rem; /* 25.6px */
  }

  h3 {
    font-size: 1.424rem; /* 22.72px */
  }

  h4 {
    font-size: 1.266rem; /* 20.32px */
  }

  h5 {
    font-size: 1.125rem; /* 18.08px */
  }

  small {
    font-size: 0.889rem; /* 14.24px */
  }
}
